body {
    background-color: black;


}

h1{

    color: aliceblue;
    text-align: justify;
    text-align: center;

}

h2{

    color: aliceblue;
    text-align: justify;
    text-align: center;

}

h3 {

    color: aliceblue;
    text-align: justify;
    text-align: center;
}

p {

    color: aliceblue;
    text-align: justify;
    text-align: center;

}