body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/38AED2442B419DFE8474AE0EF3977EEB9589C6D4E2005DC92E1D103BC33C81FE/scale?width=1440&aspectRatio=1.78&format=jpeg");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  body > img {
    margin: 0 10px;
  }
  
  img {
    max-height: 250px;
  }
  